---
import { basics, awards, education } from "@cv";
const { name, summary } = basics;
const [edu, pro] = awards;

const skillColor = "#800F2F";
const h3Color = "#c9184a";
---

<section class="relative flex flex-col w-full max-w-3xl mx-auto">
  <div class="flex h-screen w-full max-w-3xl p-4">
    <article class="animate-fade-up flex flex-col justify-center text-left text-pretty">
      <h1 class="text-4xl font-bold my-5">Soy {name}</h1>
      <p class="text-lg pl-1 text-clip overflow-hidden text-[#c9184a]">
        {summary}
      </p>
    </article>
    <figure class="animate-fade-up profile_pic w-full max-w-72 flex flex-col justify-center">
      <img
        class="w-full rounded-full"
        src="/profile.jpg"
        alt="Mi foto de presentación a mi portafolio"
      />
    </figure>
  </div>
  <div id="about" class="relative w-full max-w-3xl mx-auto px-4 pt-11">
    <h2 class="title text-2xl font-bold">{edu.title}</h2>
    <ul class="flex flex-col gap-8 px-6 text-lg">
      {
        education.map(
          ({ institution, studyType, area, startDate, endDate }) => {
            const endYear = endDate !== null ? `${endDate}` : "Actualmente";
            return (
              <li>
                <article>
                  <header class="h3Color">
                    <h2>{area}</h2>
                  </header>
                  <footer>
                    <h3>{institution}</h3>
                    <p>{studyType}</p>
                    <p class="text-xs">{`${startDate} - ${endYear}`}</p>
                  </footer>
                </article>
              </li>
            );
          }
        )
      }
    </ul>
    <h2 id='projects' class="title text-2xl font-bold pt-11">{pro.title}</h2>
  </div>
</section>

<style define:vars={{ skillColor, h3Color }}>
  h1 {
    color: var(--skillColor);
  }
  .dark h1 {
    color: #fff0f3;
  }
  .h3Color {
    color: var(--h3Color);
  }
  .title {
    color: var(--skillColor);
  }
  li {
    list-style-type: "⌨ ";
  }
</style>
