---
import BentoItem from "./BentoItem.astro"
import { projects, awards } from "../cv.json"
const [edu, pro] = awards
const [ bingo, poke ] = projects

---

<div class="education relative w-full max-w-5xl mx-auto p-4">
  <h2 class="text-4xl">{pro.title}</h2>
</div>
<section
  class="relative w-full max-w-5xl grid grid-cols-10 auto-rows-[25rem] gap-5 mx-auto p-4"
>
  <BentoItem
    class="col-span-10 md:col-span-4 transition-scale duration-1000 ease-in-out"
    title={poke.name}
  >
    <!-- Group para que reconozca el hover de un item a su contenedor (Article del Bento) -->
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 h-full w-full group-hover:scale-110
    transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
      style="background-image: url('https://tecnonucleous.com/content/images/2018/08/windows-10-to-Win-xp-1024x576.jpg')"
    >
    </div>
    <p slot="content" class="max-w-xl">
      {poke.description}
    </p>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title={bingo.name}
    subtitle="16 de febrero de 2024"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 h-full w-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-center bg-cover bg-no-repeat bg-blue-950 bg-blend-luminosity -z-10"
      style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIaRydV7sQncHzTbY8CoLIr4HxEDybaPLQpA&s')"
    >
    </div>
    <p slot="content" class="max-w-xl">
      {bingo.description}
    </p>
  </BentoItem>
</section>
