---
const { platform, userName } = Astro.props
---

<li>
  <a
    class=`${platform} item`
    target='_blank'
    href=`https://${platform}.com/${userName}`
    title=`Follow on ${platform}`
  >
    <slot />
    <span class='sr-only'>Follow on {platform}</span></a
  >
</li>

<style define:vars={{ platform }}>
  .item {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    position: relative;
    transition: width 0.25s;
  }

  .item span {
    display: block;
    width: 35px;
    height: 35px;
    background-size: 100% auto;
    text-indent: -9999em;
  }

  .item:hover {
    width: 135%;
  }
</style>
